.selector-for-some-widget {
    box-sizing: content-box !important;
}
.error{color:#f7631b;}
*{transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;}
/*.header-top{background: white;} .header-top a{ color: black;}.header-top a:hover{color: #f7631b;}*/
/*.banner-area .overlay-bg{background-color:rgba(4, 10, 32, 0.43) }.overlay-bg{background:rgba(28, 39, 82, 0.62);}*/
/*.review-area .title {width: 50%; margin: auto; padding-top:20px; }*/
/*.caption-text{width: 70%; margin-bottom: 20px;}*/
/*#mega-menu{margin: 0 auto; text-align: center;}*/
/*.nav-menu a{padding: 8px;}*/
/*.nav-menu .mega-menu{background: #04091e; position: absolute; display: flex;}*/
/*.nav-menu .mega-menu{-webkit-background: #04091e; position: absolute; display: flex;}*/
/*.nav-menu .mega-menu .menu1,.menu2{display:block ; width: 80%; height: 100%;}*/
/*.nav-menu .mega-menu li{ */
/*	list-style: square;*/
/*    padding: 2px;*/
/*    text-align: start;*/
/*    box-sizing: content-box;*/
/*}*/
/*.nav-menu .mega-menu li a{word-wrap: break-word; color: #fff;padding: 5px;}*/

.btn-danger{background: #f7631b;} .btn-danger:hover{background: #fff; color: #f7631b;}
.single-feature .desc-wrap{border: solid #ddd 0.5px;}
.wrap p{background-color: rgba(255, 255, 255, 0.7); padding: 10px; color: black}

.about-banner-donate{background: url(../img/top-banner-donate.jpg) right no-repeat; background-size: cover;}
.banner-area-donate{background: url(https://i.imgur.com/nCE6aqT.jpg) center no-repeat; background-size: cover;}
.col-md-8{
    max-width: 100% !important;
}
.aboutus-area {
    padding-top:2rem;
    padding-bottom:3rem;
}
/*-- aboutus Image --*/
.aboutus-image {
    margin-right: 52px;
    width: 318px; }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .aboutus-image {
        margin-right: 35px;
        width: 345px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .aboutus-image {
        margin-bottom: 30px;
        float: none; } }
@media only screen and (max-width: 767px) {
    .aboutus-image {
        margin-bottom: 30px;
        margin-right: 0;
        float: none;
        width: auto; } }
.aboutus-image img {
    width: 100%; }

/*-- aboutus Content --*/
.aboutus-content h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 2px; }
@media only screen and (max-width: 479px) {
    .aboutus-content h1 {
        font-size: 30px;
        line-height: 30px; } }
.aboutus-content h1 span {
    color: var(--exploreafrica-color); }

.aboutus-content h4 {
    font-size: 18px;
    font-weight: 500;
    color: #9b9b9b;
    margin-bottom: 23px; }

.aboutus-content p {
    font-size: 16px;
    line-height: 27px; }

/*-- counter --*/
.counter {
    border: 1px solid #eeeeee;
    margin-top: 32px;
    float: left;
    width: 100%; }
.counter .single-counter {
    float: left;
    width: 25%;
    padding: 28px 15px 28px; }
@media only screen and (max-width: 767px) {
    .counter .single-counter {
        width: 50%; }
    .counter .single-counter:nth-child(3) {
        border-top: 1px solid #eeeeee;
        border-left: 0px solid #eeeeee; }
    .counter .single-counter:nth-child(4) {
        border-top: 1px solid #eeeeee; } }
.counter .single-counter + .single-counter {
    border-left: 1px solid #eeeeee; }
.counter .single-counter h2 {
    font-size: 30px;
    color: var(--exploreafrica-color);
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 8px; }
.counter .single-counter p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    color: #8f8f8f; }

/* CSS for Credit Card Payment form */

/* END CSS for Credit Card Payment form */
