:root {
    --default-bg-color: #fff;
    --section-bg-color: #f2f2f2;
    --exploreafrica-color: #ad2042;
    --default-color-w: #fff;
    --default-color-b: #686868;
    --secondary-color: coral;
    --inactive-color: #adadad;
    --inactive: coral;
    --active: var(--default-color-b);
    --font: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    --default-font: 15px/1.2 "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    --nav-font-size: 19px;
    --caption: 50px;
    --nav-font-weight: 700;
    --heading: 30px;
    --sub-heading: coral;
    --body: coral;
    --default-link: #fff;
    --link: #ad2042;
    --hover-link: #821832;
    --divider: solid 1px #c6c6c6;
    --default-button: coral;
    --big-button: coral;
    --small-button: coral;
    --footer: #e0e0e0;
}

* {
    font: var(--default-font);
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.body {
    background-color: var(--default-bg-color);
}
img{
    image-rendering: optimizeSpeed;
}
.section-1 {
    background-color: var(--default-bg-color);
    margin: 10px auto;
}

.section-2 {
    /*max-width: 100% !important;*/
    height: 100vh;
    background-color: var(--section-bg-color);
}

.section-3 {
    max-width: 100%;
    margin: 0;
    padding: 50px 0;
    background-color: var(--default-bg-color);
}

.section-4 {
    max-width: 100%;
    margin: 0;
    padding: 25px;
    background-color: var(--section-bg-color);
}
.section-5 {
    max-width: 100%;
    margin: 0;
    padding: 50px;
    background-color: var(--section-bg-color);
}
.section-5 .row {
    height: 250px;
}
.section-5-5{
    max-width: 100%;
    margin: 0;
    background-color: var(--section-bg-color);
}
.section-6{
    max-width: 100%;
    margin: 0;
    background-color: var(--section-bg-color);
}
a {
    color: var(--default-color-b);
}
p{
    color: var(--default-color-b);
}
ul {
    padding:0;
    margin:0
}
li {
    list-style:none
}
.nav-item {
    padding-right: 2em;
}

.nav-link {
    color: var(--inactive-color);
    padding: 0.8rem !important;
}

.nav-link:hover {
    color: var(--default-color-b);
}

.navtop .top-link {
    font-weight: var(--nav-font-weight);
    color: var(--exploreafrica-color);
    font-size: var(--nav-font-size);
}

a:hover {
    text-decoration: none;
    color: var(--hover-link);
}

.active a {
    color: var(--active);
    font-weight: var(--nav-font-weight);
    border-bottom: solid 3px var(--exploreafrica-color);
}

.fa {
    padding-left: 5px;
}

.navbottom {
    min-width: 200px;
    max-width: 1140px;
    margin: auto;
}

.navtop .big-button-link {
    color: var(--default-link);
}

.navbar {
    padding: 0;
    justify-content: space-between;
}

.navbar-nav {
    margin-right: 1rem;
}

.navtop {
    justify-content: flex-end;
}

.navtop .nav-item {
    padding-right: 0.5em;
}

.navbar-brand {
    font-weight: var(--nav-font-weight);
    color: var(--default-color-b);
    font-size: var(--nav-font-size);
    flex: auto;
}

.navbar-brand > span {
    font-weight: 300;
    font-size: 20px;
}
nav.navbar.navbar-expand-lg.navbottom {
    justify-content: space-between;
}
.big-button-link{
    color: var(--default-color-w);
}
.big-button-link:hover{
    color: var(--default-color-w);
}
.default-big-button {
    border-radius: 8px;
    /*height: 64px;*/
    padding: 18px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    text-decoration: none;
    text-align: left;
    position: relative;
    background-color: var(--exploreafrica-color);
    color: var(--default-color-w);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none;
}
.default-button{
    border-radius: 5px;
    /*height: 64px;*/
    padding: 10px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    text-decoration: none;
    text-align: left;
    position: relative;
    background-color: var(--exploreafrica-color);
    color: var(--default-color-w);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none;
}
.button-link {
    color: var(--default-color-w);
    font-weight: var(--nav-font-weight);
    font-size: var(--nav-font-size);
}

.divider {
    max-width: 100%;
    border-bottom: var(--divider);
}

.navbar-toggler-icon {
    color: var(--default-color-b);
}

.icon-rotate {
    transform: rotate(90deg);
}
/*footer style over here ##################################################*/
.footer-area{
    background-color: var(--footer);
}
.footer-list{
    padding: 10px 0;
}
.col-lg-6.col-sm-12.footer-social {
    text-align: end;
}
.footer-text.m-0.col-lg-6.col-md-12 {
    line-height: 1.5;
}

.footer-row{
    justify-content: space-between;
}
.footer-text.m-0.col-lg-6.col-md-12{
    color: var(--default-color-b);
}
.footer-text.m-0.col-lg-6.col-md-12 a{
    color: var(--exploreafrica-color);
}
footer .divider {
    max-width: 100%;
    border-bottom: solid 1px var(--default-color-b);
}
.single-footer-widget {
    color: var(--default-color-b);
}
.col-lg-6.col-sm-12.footer-social a {
    color: var(--exploreafrica-color);
    font-size: 20px;
}
.p-md-5 {
    padding: 3rem 0 !important;
}
.bg-primary{
    background-color: var(--exploreafrica-color) !important;
}
/*footer ends here #####################*/

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .fixed {
        position: fixed;
        max-width: 100%;
        box-shadow: inset 0 0 3px #a7a7a7;
        margin: auto;
        top: 0;
        z-index: 100;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.caption-heading {
    font-size: var(--caption);
    font-family: var(--font);
    font-weight: var(--nav-font-weight);
    text-align: center;
    margin: 0;
    width: auto;
}

.caption-body {
    font-size: var(--nav-font-size);
    font-family: var(--font);
    font-weight: var(--nav-font-weight);
    color: var(--default-color-w) !important;
    text-align: center;
    margin: 0;
    width: auto;
}
.caption-body a{
    color: var(--default-color-w) !important;
    font-weight: lighter !important;
}
.carousel-caption.d-none.d-md-block {
    margin-bottom: 6rem;
}

.jumbotron {
    background-color: transparent;
    padding: 0;
}
.image-col{
    background: url("https://i.imgur.com/cqcXHnI.png") no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position-y: top;
    background-position-x: center;
}
.image-col2{
    background: url("https://i.imgur.com/51QOQMX.png") no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position-y: top;
    background-position-x: 200px;
}

.big-heading {
    font-size: var(--caption);
    font-family: var(--font);
    font-weight: var(--nav-font-weight);
    color: var(--default-color-b);
    line-height: 1.1;
}

.medium-heading {
    font-size: var(--nav-font-size);
    font-family: var(--font);
    /*font-weight: var(--nav-font-weight);*/
    color: var(--default-color-b);
}

.important {
    color: var(--exploreafrica-color);
    border-bottom: 1px solid var(--exploreafrica-color);
    font-size: 20px;
}

.heading{
    padding: 10px 0;
    font-size: var(--heading);
    font-family: var(--font);
    font-weight: var(--nav-font-weight);
    color: var(--default-color-b);
}

.space{width: 100%; height: 20px;}
.card-text{
    font: var(--default-font);
    color: var(--default-color-b);
}
.crop-img{
    object-fit: cover;
    height: 137px;
}
.card-title{
    font-size: var(--nav-font-size);
    font-width: var(--nav-font-weight);
}
.card-text.pt-2 {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    width: 90%;
}
span.small {
    float: right;
    font-size: small !important;
    cursor: pointer;
}
/*SLIDER CARD BEGINS HERE ##################################*/
/* equal card height */
* {
    box-sizing: border-box;
}
.flickity-viewport{
    background-color: var(--section-bg-color);
}

.carousel-cell.is-selected {
    background: #d5d5d5;
}

.carousel {
    background: #fff;
}

.carousel-cell {
    width: 45%;
    height: 380px;
    margin-right: 10px;
    background: var(--default-bg-color);
    border-radius: 5px;
    counter-increment: carousel-cell;
}
/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    /*content: counter(gallery-cell);*/
    line-height: 200px;
    /*font-size: 80px;*/
    /*color: white;*/
}
.flickity-page-dots{
    display: none;
}
.flickity-prev-next-button {
    width: 30px;
    height: 30px;
}
.card-text{
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.card-text.no-wrap{
    white-space: normal;
}
.carousel-cell>.card{
    height: 100%;
}
.show-more{
    white-space: normal !important;
    overflow: visible !important;
}
.form-control:focus {
    border: solid 1px var(--exploreafrica-color);
    box-shadow: none;
}
.profile{
    width: 25%;
}
.testimonial_subtitle{
    color: var(--default-color-b);
    font-size: var(--font);
}

.seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: var(--active);
}
.footer-social-icons {
    /* width: 350px; */
    margin: 0 auto;
    justify-content: space-evenly;
    display: inline-flex;
    align-items: baseline;
}
.social-icon {
    color: var(--default-color-w);
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: var(--default-color-b);
    background-color: var(--default-color-w);
}
.fa-facebook:hover {
    background-color: #3d5b99;
    color: var(--default-color-w);
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: var(--default-color-b);
    background-color: var(--default-color-w);
}
.fa-twitter:hover {
    background-color: #00aced;
    color: var(--default-color-w);
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: var(--default-color-b);
    background-color: var(--default-color-w);
}
.fa-youtube:hover {
    background-color: #e64a41;
    color: var(--default-color-w);
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait) ####################################################
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .navbar {
        padding: 0.3rem;
    }

    .nav-link {
        padding: 0.3rem !important;
    }

    .nav-item {
        padding-right: 0rem;
    }

    .navtop .top-link {
        display: none;
    }

    .default-big-button {
        height: 45px;
        padding: 10px;
    }

    .navbar-nav {
        justify-content: space-between;
        display: inline-block;
    }

    li.nav-item {
        display: inline-block;
        padding-left: 10px;
    }

    .navbar-toggler {
        padding: 0;
        color: var(--default-color-b);
    }

    .fa {
        padding: 0;
    }
    .mb-3, .my-3{
        margin: 0 !important;
    }
    .w-50{
        width: 100% !important;
    }
    .big-heading{
        font-size: 30px;
        /*line-height: 0.9;*/
    }
    .medium-heading{
        font-size: 14px;
    }
    .important{
        font-size: 12px;
    }
    .carousel-cell {
        width: 100%;
        height: 300px;
        margin-right: 10px;
        background: var(--default-bg-color);
        border-radius: 5px;
        counter-increment: carousel-cell;
    }
    .crop-img{
        object-fit: cover;
        height: 60px;
    }
    .image-col2{
        display: contents;
    }
    .heading{
        font-size: 18px;
    }
    .big-heading br {
        display: none;
    }
    .section-3{
        padding: 30px 0;
    }
    .section-5{
        padding:20px;
    }
    .section-4{
        padding: 0;
    }
    .section-5 .row {
        height: 120px;
    }
}

@media (max-width: 320px) {
    .navbar-nav .nav-link {
        font-size: 14px;
        padding: 0.2rem !important;
    }

    .navbar-brand {
        font-size: 15px;
    }

    .navbar-brand > span {
        font-weight: 300;
        font-size: 15px;
    }
}

/* enable Flickity by default */
.carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
}

@media screen and ( min-width: 768px ) {
    /* disable Flickity for large devices */
    .carousel:after {
        content: '';
    }
}

@media (max-width: 1200px) {
    .navbottom {
        width: 1140px;
    }
}

@media (max-width: 992px) {
    .navbottom {
        width: 960px;
    }
}

@media (max-width: 768px) {
    .navbottom {
        width: 720px;
    }
}

@media (max-width: 576px) {
    .navbottom {
        width: 540px;
    }
}
