.hidden_pay{display: none;}
.error{
    color: #f7631b;
}
.container_pay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 9, 19, 0.71); /* Black background with opacity */
    z-index: 2;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  
}

.row_pay {
    border: 0.5 solid #000;
    width: 1000px;
    margin: 5% auto;
    height: fit-content;
    padding:0px 20px;
    background: #fff;
}
.row_pay:before {
    display: table;
    content: " ";
}
.row_pay:after {
    clear: both;
}
#col_pay{
    background-color: #454d6f;
    padding: 20px; color: #fff;
}
#col_pay .h1_pay{color: #fff;}
.list-group_pay {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item_pay{
    font-size: 11px;
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center;
    opacity: .7;
    line-height: 1.42857143;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-item_pay >span{
    font-weight: bolder;
    opacity: 100;
    font-size: 14px;
    color: #333;
}
.col-md-auto .h4_pay{padding: 10px;} 
.glyphicon-remove-circle:before {
    content: "\e088";
    position: fixed;
        top: 10px;
        color: #fff;
}
.glyphicon-remove-circle:before:hover{
    color: #454d6f;
}
#close{
    background: none;
    text-align: right;
    margin: 0;padding:0;
}
.glyphicon {
    font-size: 3em;
    text-align: right;
    color: #454d6f;
    cursor: pointer;
    background: none;
margin: 0;padding:0;
top:0;
}





@media (max-width: 767px){
.paystack-embed-body {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
 }
}
@media (max-width: 767px){
    html,body {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-y: hidden;
    }
}